/* File: footer.css*/
/* Estilos CSS3 
 *      Contiene los estilos apropiados para la 
 *  sección del footer. 
 */

footer.page-footer {
    position: absolute;
    left: 50%;
    width: 330px;
    margin-left: -165px;
}

    footer.page-footer .copyright {
        width: 330px;
        height: 21px;
        padding-bottom: 15px;
        font-family: 'Droid Sans';
        color: #aeaeae;
        font-size: 18px;
        text-align: center;
        //text-shadow: 1px 1px 1px #FFFFFF;
        text-transform: uppercase;
    }
